@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f6f2;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', 'Times New Roman', serif;
  letter-spacing: 0.01em;
}

button,
input {
  font-family: inherit;
}
